* {
  margin: 0;
  padding: 0;
}

html {
  padding: 20px;
}

.atualizado-em {
  margin-bottom: 35px;
}

.atualizado-em span {
  color: red;
  font-weight: bold;
}

.candidatos {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 30px;
}

li {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.candidato {
  text-align: center;
}

.candidato-nome {
  font-size: 20px;
}

.candidato-votos {
  margin-block: 5px;
}

.percentual-container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.percentual-bar {
  --radius: 10px;

  height: 10px;
  width: 100%;
  overflow: hidden;
  background: lightgray;
  border-radius: var(--radius);
}

.filler {
  height: 100%;
  background: red;
  width: calc(var(--width) * 1%);
  border-radius: var(--radius);
}
